.path-mod-quiz .block_navigation {
    display:none; }


.que.ddlusher .qtext {
    margin-bottom: 0.5em;
    display: block;
}

.que.ddlusher div.droparea img,
form.mform fieldset#id_previewareaheader div.droparea img {
    border: 1px solid #000;
    max-width: none;
}

.que.ddlusher .draghome,
form.mform fieldset#id_previewareaheader .draghome {
    vertical-align: top;
    margin: 5px;
    visibility: hidden;
}

.que.ddlusher div.draghome,
form.mform fieldset#id_previewareaheader div.draghome {
    border: 1px solid black;
    cursor: move;
    background-color: #b0c4de;
    display: inline-block;
    height: auto;
    width: auto;
    zoom: 1;
}

.que.ddlusher .group1,
form.mform fieldset#id_previewareaheader .group1 {
    background-color: #fff;
}

.que.ddlusher .group2,
form.mform fieldset#id_previewareaheader .group2 {
    background-color: #b0c4de;
}

.que.ddlusher .group3,
form.mform fieldset#id_previewareaheader .group3 {
    background-color: #dcdcdc;
}

.que.ddlusher .group4,
form.mform fieldset#id_previewareaheader .group4 {
    background-color: #d8bfd8;
}

.que.ddlusher .group5,
form.mform fieldset#id_previewareaheader .group5 {
    background-color: #87cefa;
}

.que.ddlusher .group6,
form.mform fieldset#id_previewareaheader .group6 {
    background-color: #daa520;
}

.que.ddlusher .group7,
form.mform fieldset#id_previewareaheader .group7 {
    background-color: #ffd700;
}

.que.ddlusher .group8,
form.mform fieldset#id_previewareaheader .group8 {
    background-color: #f0e68c;
}

.que.ddlusher .drag,
form.mform fieldset#id_previewareaheader .drag {
    border: 1px solid black;
    cursor: move;
    z-index: 2;
}

.que.ddlusher .dragitems.readonly .drag {
    cursor: auto;
}

.que.ddlusher div.ddarea,
form.mform fieldset#id_previewareaheader div.ddarea {
    text-align: center;
}

.que.ddlusher .dropbackground,
form.mform fieldset#id_previewareaheader .dropbackground {
    margin: 0 auto;
}

.que.ddlusher .dropzone {
    border: 1px solid black;
    position: absolute;
    z-index: 1;
}

.que.ddlusher .dropzone:focus,
.que.ddlusher .dropzone.yui3-dd-drop-over.yui3-dd-drop-active-valid {
    border-color: #0a0;
    box-shadow: 0 0 5px 5px rgba(255, 255, 150, 1);
}

.que.ddlusher div.dragitems div.draghome,
.que.ddlusher div.dragitems div.drag,
form.mform fieldset#id_previewareaheader div.draghome,
form.mform fieldset#id_previewareaheader div.drag {
    font: 13px/1.231 arial, helvetica, clean, sans-serif;
}

form.mform fieldset#id_previewareaheader div.drag.yui3-dd-dragging,
.que.ddlusher div.drag.yui3-dd-dragging {
    z-index: 3;
    box-shadow: 3px 3px 4px #000;
}


/* Editing form. Style repeated elements*/


/*Top*/

body#page-question-type-ddlusher div[id^=fgroup_id_][id*=drags_] {
    background: #eee;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 5px;
    padding-top: 5px;
    border: 1px solid #bbb;
    border-bottom: 0;
}

body#page-question-type-ddlusher div[id^=fgroup_id_][id*=drags_] .fgrouplabel label {
    font-weight: bold;
}


/* Middle */

body#page-question-type-ddlusher div[id^=fitem_id_][id*=dragitem_] {
    background: #eee;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 5px;
    padding-top: 5px;
    border: 1px solid #bbb;
    border-top: 0;
    border-bottom: 0;
}


/* Bottom */

body#page-question-type-ddlusher div[id^=fitem_id_][id*=draglabel_] {
    background: #eee;
    margin-bottom: 2em;
    margin-top: 0;
    padding-bottom: 5px;
    padding-top: 5px;
    border: 1px solid #bbb;
    border-top: 0;
}

